.questionanswer {
  background-color: rgb(65, 185, 65);
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.Head{
  color: black;
  margin: 2rem;
  padding: 2px;
}
.answers {
  background-color: #7bd67e;
  width: 80%;
  height: 20%;
  border: 20px;
  color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

#button {
  display: flex;
  width: 110px;
  height: 40px;
  background-color: grey;
  justify-content: flex-end;
  border: 20px;
  border-radius: 10px;
  color:black;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}

#button:hover {
  background-color: rgb(36, 94, 36);
}
